

.block-background{
    background-image: url("../imgs/Background/HomeBackground.png");
    background-size: cover;
    height: 700px;
    margin: auto;
    margin-top: 50px;
    width : 60%;
}

.block-explore-your-desires{ 
    align-items: center;
    color: var(--Text-Color);
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-around;
    padding-top: 20%;
}

.block-text-explore-your-desires{
   color: white;
   width: 80%;
   text-shadow: 1px 1px 2px #000000;;
}

body{
    background-color: var(--Background-Color);
}

.block-explore-your-desirese{
    position: absolute; 
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--Text-Color);
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: auto;

}

#slider:hover #precedent,
#slider:hover #suivant {
    opacity: 1;
}

.container-explore-your-desires{
    display: flex;
    justify-content: center;
    align-items: center;

}

#precedente,
#suivante {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 1;
    position: absolute;
    font-size: 50px;
    margin: 10px;
    color: var(--Main-Color);
    
    padding: 10px;
}

#precedente {
    left: 0;
}

#suivante {
    right: 0;
}

#slider {
    position: relative;
    height: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    width: 60%;
    overflow: hidden;
}



@media only screen and (max-width: 600px){

    body{
        width: 100%;
        margin: auto;
    }

   
    
    .block-background{
        width: 100%;
        
    }
    .block-explore-your-desires{
        width: 90%;
        margin: auto;
        height: 60%;
    }
    .text-center-justify{
        font-size: 12px;
    }
    .container-pack{
        flex-direction: column;
    }
}